<div class="dialog-content">
    <mat-dialog-content>
        <header class="dialog-header">
            <h1>Registro de Carros</h1>
        </header>
        <form class="dialog-form">
            <mat-form-field class="dialog-input" color="accent">
                <input matInput placeholder="Modelo">
            </mat-form-field>
        
            <mat-form-field class="dialog-select" color="accent">
                <mat-label>Fabricante</mat-label>
                <mat-select>
                  <mat-option>--</mat-option>
                  @for (manufacturer of manufacturers; track manufacturer) {
                    <mat-option [value]="manufacturer.name">{{ manufacturer.name }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
        
            <mat-form-field class="dialog-input" color="accent">
                <input matInput placeholder="Ano">
            </mat-form-field>
        
            <mat-form-field class="dialog-input" color="accent">
                <input matInput placeholder="Cor">
            </mat-form-field>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions class="dialog-actions">
        <button mat-raised-button color="accent">Salvar</button>
        <button mat-raised-button color="warn" matDialogClose>Cancelar</button>
    </mat-dialog-actions>
</div>