.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 64px;
}

app-header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}