<div class="container d-flex justify-content-center align-items-center">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-6">
            <div class="home-title">
                <h1>DriveFlow: Simplificando a Gestão de Carros</h1>
                <p>Maximize a eficiência da sua frota com um gerenciamento inteligente de veículos ao seu alcance!</p>
                <div class="home-buttons">
                    <button class="btn btn-warning">Cadastre-se</button>
                    <button class="btn btn-outline-dark">Saiba-mais</button>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="home-image">
                <img src="/assets/images/volkswagen-car.png" alt="volkswagen" class="img-fluid">
            </div>
        </div>
    </div>
</div>