<div class="footer-container">
    <div class="copy">
        <img src="/assets/images/logo_white.png" alt="logotipo">
        <p><a>Termos</a> ‧ <a>Privacidade</a> ‧ <a>Serviços</a></p>
        <p class="rights">&copy; 2020 ‧ 2024 DriveFlow</p>
    </div>
    <div class="info">
        <div class="align">
            <mat-icon [ngStyle]="{'color':'white'}">email</mat-icon>
            <p>Email: {{ email }}</p>
        </div>
        <div class="align">
            <mat-icon [ngStyle]="{'color':'white'}">call</mat-icon>
            <p>Telefone: {{ phone }}</p>
        </div>
    </div>
</div>
