.footer-container {
    padding: 20px 0;
}

.footer-container img {
    width: 200px;
}

.footer-container p {
    margin-left: 10px;
}

.footer-container a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.footer-container a:hover {
    color: #ffd613;
}

@media screen and (max-width: 600px) {

    #social {
        display: none;
    }

    #copy {
        display: flex;
        justify-content: center;
        padding: 0;
    }
}