html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card {
    width: 95vw;
    margin: 2em 0;
}

mat-card-actions {
    display: flex;
    margin-top: 2.5em;
}

.default-form {
    width: 100%;
}

.form-input {
    width: 30%;
    margin: 0 15px;
}

.form-select {
    width: 40%;
    margin: 0 15px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form-buttons button{
    margin: 5px 2em 2em;
}