.form-buttons {
    display: flex;
    justify-content: end;
    width: 97%;
}

.form-buttons button{
    margin: 5px;
}

mat-card-content {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.mat-elevation-z8 {
    width: 90vw;
}

.colunm-actions {
    display: flex;
    justify-content: center;
    padding: 1.2em;
}

.line-actions {
    display: flex;
    padding: 0.2em;
    justify-content: center;    
}