<div class="container-sm">
    <mat-card>
        <mat-card-header>
            <div class="list-header">
                <div>
                    <mat-card-title>Carros</mat-card-title>
                    <mat-card-subtitle>Nesta área é possivel listar os carros registrados, criar um registro e editar.</mat-card-subtitle>
                </div>

                <button mat-raised-button color="primary" [matMenuTriggerFor]="create" class="btn-responsive">Criar</button>
                    <mat-menu #create="matMenu">
                        <button mat-menu-item routerLink="/list/create">Formulário</button>
                        <button mat-menu-item (click)="openCreateDialog()">Diálogo</button>
                        <button mat-menu-item (click)="addNewCar()">Tabela</button>
                    </mat-menu>
            </div>
        </mat-card-header>

        <mat-card-content class="list-filters">
            <form class="default-forms" [formGroup]="filter">
          
                <mat-form-field class="forms-input">
                    <mat-label>Modelo</mat-label>
                    <input matInput placeholder="Ex. Corsa" formControlName="model">
                </mat-form-field>

                <mat-form-field class="forms-input">
                    <mat-label>Ano</mat-label>
                    <input matInput placeholder="Ex. 2015" formControlName="year">
                </mat-form-field>

                <mat-form-field class="forms-input">
                    <mat-label>Cor</mat-label>
                    <input matInput placeholder="Ex. Prata" formControlName="color">
                </mat-form-field>

                <mat-form-field class="forms-select">
                    <mat-label>Fabricante</mat-label>
                    <mat-select formControlName="manufacturer">
                    <mat-option>--</mat-option>
                        @for (manufacturer of manufacturers; track manufacturer) {
                        <mat-option [value]="manufacturer.name">{{ manufacturer.name }}</mat-option>
                    }
                    </mat-select>
                </mat-form-field>

            </form>
        </mat-card-content>
    
        <mat-card-actions class="forms-buttons">
            <button mat-raised-button color="primary" (click)="onSubmit()">Buscar</button>
            <button mat-raised-button color="warn" (click)="onClear()">Limpar</button>
        </mat-card-actions>

        <mat-card-content class="table">

            <div *ngIf="listCars.length > 0 || isNewCarAdding == true" class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Id</th>
                            <th>Modelo</th>
                            <th>Fabricante</th>
                            <th>Ano</th>
                            <th>Cor</th>
                            <th class="text-center">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let car of listCars">
                            <td>{{ car.id }}</td>
                            <td>
                                <ng-container *ngIf="!isEditing || editingCarId !== car.id; else editModel">
                                    {{ car.model }}
                                </ng-container>
                                <ng-template #editModel>
                                    <mat-form-field class="table-input" [formGroup]="updateCarsTable">
                                        <input matInput placeholder="Ex. Lancer" formControlName="model" required>
                                        <mat-error *ngIf="updateCarsTable.get('model')?.hasError('required')">Modelo é obrigatório</mat-error>
                                    </mat-form-field>
                                </ng-template>
                            </td>
                            <td>
                                <ng-container *ngIf="!isEditing || editingCarId !== car.id; else editManufacturer">
                                    {{ car.manufacturer }}
                                </ng-container>
                                <ng-template #editManufacturer>
                                    <mat-form-field class="table-input" [formGroup]="updateCarsTable">
                                        <mat-label>Fabricante</mat-label>
                                        <mat-select formControlName="manufacturer" required>
                                        <mat-option>--</mat-option>
                                            @for (manufacturer of manufacturers; track manufacturer) {
                                            <mat-option [value]="manufacturer.name">{{ manufacturer.name }}</mat-option>
                                        }
                                        </mat-select>
                                        <mat-error *ngIf="updateCarsTable.get('manufacturer')?.hasError('required')">Fabricante é obrigatório</mat-error>
                                    </mat-form-field>
                                </ng-template>
                            </td>
                            <td>
                                <ng-container *ngIf="!isEditing || editingCarId !== car.id; else editYear">
                                    {{ car.year }}
                                </ng-container>
                                <ng-template #editYear>
                                    <mat-form-field class="table-input" [formGroup]="updateCarsTable">
                                        <input matInput placeholder="Ex. 2014" formControlName="year" required>
                                        <mat-error *ngIf="updateCarsTable.get('year')?.hasError('required')">Ano é obrigatório</mat-error>
                                        <mat-error *ngIf="updateCarsTable.get('year')?.hasError('pattern')">Formato de ano inválido</mat-error>
                                    </mat-form-field>
                                </ng-template>
                            </td>
                            <td>
                                <ng-container *ngIf="!isEditing || editingCarId !== car.id; else editColor">
                                    {{ car.color }}
                                </ng-container>
                                <ng-template #editColor>
                                    <mat-form-field class="table-input" [formGroup]="updateCarsTable">
                                        <input matInput placeholder="Ex. Branco" formControlName="color" required>
                                        <mat-error *ngIf="updateCarsTable.get('color')?.hasError('required')">Cor é obrigatório</mat-error>
                                    </mat-form-field>
                                </ng-template>
                            </td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <ng-container *ngIf="!isEditing || editingCarId !== car.id; else editActions">
                                        <button mat-icon-button [matMenuTriggerFor]="edit">
                                            <mat-icon>create</mat-icon>
                                        </button>
                                        <mat-menu #edit="matMenu">
                                            <button mat-menu-item (click)="onEdit(car)">Formulário</button>
                                            <button mat-menu-item (click)="openEditDialog(car)">Diálogo</button>
                                            <button mat-menu-item (click)="enableEditingMode(car.id!)">Tabela</button>
                                        </mat-menu>
                                        <button mat-icon-button (click)="onDelete(car)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </ng-container>
                                    <ng-template #editActions>
                                        <button mat-icon-button (click)="saveEditedCar(car.id!, updateCarsTable.value)" [disabled]="updateCarsTable.invalid">
                                            <mat-icon>save</mat-icon>
                                        </button>
                                        <button mat-icon-button (click)="cancelEdit()">
                                            <mat-icon>cancel</mat-icon>
                                        </button>
                                    </ng-template>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="isNewCarAdding">
                            <td>-</td>
                            <td>
                                <mat-form-field class="table-input" [formGroup]="createCarsTable">
                                    <mat-label>Modelo</mat-label>
                                    <input matInput placeholder="Ex. Lancer" formControlName="model" required>
                                    <mat-error *ngIf="createCarsTable.get('model')?.hasError('required')">Modelo é obrigatório</mat-error>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="table-input" [formGroup]="createCarsTable">
                                    <mat-label>Fabricante</mat-label>
                                    <mat-select formControlName="manufacturer" required>
                                    <mat-option>--</mat-option>
                                        @for (manufacturer of manufacturers; track manufacturer) {
                                        <mat-option [value]="manufacturer.name">{{ manufacturer.name }}</mat-option>
                                    }
                                    </mat-select>
                                    <mat-error *ngIf="createCarsTable.get('manufacturer')?.hasError('required')">Fabricante é obrigatório</mat-error>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="table-input" [formGroup]="createCarsTable">
                                    <mat-label>Ano</mat-label>
                                    <input matInput placeholder="Ex. 2014" formControlName="year" required>
                                    <mat-error *ngIf="createCarsTable.get('year')?.hasError('required')">Ano é obrigatório</mat-error>
                                    <mat-error *ngIf="createCarsTable.get('year')?.hasError('pattern')">Formato de ano inválido</mat-error>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="table-input" [formGroup]="createCarsTable">
                                    <mat-label>Cor</mat-label>
                                    <input matInput placeholder="Ex. Branco" formControlName="color" required>
                                    <mat-error *ngIf="createCarsTable.get('color')?.hasError('required')">Cor é obrigatório</mat-error>
                                </mat-form-field>
                            </td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <button mat-icon-button (click)="saveNewCar(createCarsTable.value)" [disabled]="createCarsTable.invalid">
                                        <mat-icon>save</mat-icon>
                                    </button>
                                    <button mat-icon-button (click)="cancelNewCar()">
                                        <mat-icon>cancel</mat-icon>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <mat-paginator [pageSizeOptions]="[10]"
                           showFirstLastButtons
                           [pageIndex]="pageIndex"
                           [length]="totalElements"
                           (page)="loadCars($event)"
                           aria-label="Select page of cars">
            </mat-paginator>            
            
            <div *ngIf="listCars.length === 0 && isNewCarAdding == false" class="empty-table">
                <h1>Nenhum carro encontrado.</h1>
            </div>

        </mat-card-content>
    </mat-card>
</div>