.list-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.list-filters {
    display: flex;
    margin-top: 2.5em;
}

.list-table {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.mat-elevation-z8 {
    width: 90vw;
}

.colunm-actions {
    display: flex;
    justify-content: center;
    padding: 1.2em;
}

.line-actions {
    display: flex;
    padding: 0.2em;
    justify-content: center;    
}